In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df=pd.read_excel('/content/newcombined4loc.xlsx')
df.head()

,Date,Location,Alkalinity,AmmoniumNitrogen,BOD,COD,CalciumHardness,Chloride,Conductivity,DOxygen,...,NitriteNitrogen,Phosphate(PO4),Potassium,SSolids,Sodium,Sulphate(SO4),TDS,Temperature,Turbidity,pH
0,2011-04-01,Karbala,110.000000,0.008000,4.200000,35.200000,80.925598,24.990000,268.000000,10.500000,...,0.540435,2.420714,2.886471,27.628050,12.181837,1.750000,165.713506,24.582374,20.000000,8.480000
1,2011-05-01,Karbala,120.545625,0.109349,2.708923,18.295282,79.683830,21.440288,274.298333,7.958585,...,1.017874,1.859287,2.085753,27.482034,12.500490,9.268675,165.825204,24.543311,11.127915,7.681474
2,2011-06-01,Karbala,119.617881,0.641402,1.650447,18.493481,80.720857,22.640095,273.783335,8.407242,...,0.928998,2.482825,1.460972,27.934589,12.573918,9.522832,165.874561,25.500702,9.837337,6.950233
3,2011-07-01,Karbala,138.000000,0.154000,4.600000,55.200000,80.268287,47.950000,510.000000,9.000000,...,0.801926,2.492670,6.250000,27.381615,12.910037,58.000000,166.258818,24.660506,20.000000,7.930000
4,2011-08-01,Karbala,120.096891,0.835292,2.363721,17.822509,79.679927,21.288960,274.123566,7.369381,...,0.347291,2.042250,2.922198,27.224718,11.127128,9.460823,165.045651,24.409953,11.059558,8.349117

To fill the missing values in the dataset

In [3]:


# List columns you want to exclude from filling
exclude_columns = ['date', '__Sheet__']  # Replace with your actual column names

# Select numeric columns except excluded ones
numeric_cols = [col for col in df.select_dtypes(include='number').columns if col not in exclude_columns]

# Fill missing values only in these numeric columns
for col in numeric_cols:
    mean = df[col].mean()
    std = df[col].std()
    nan_indices = df[col][df[col].isna()].index
    random_adjustment = np.random.uniform(-std, std, size=len(nan_indices))
    df.loc[nan_indices, col] = mean + random_adjustment

# Save the updated file if needed
df.to_excel('/content/newcombined4loc.xlsx', index=False)

In [4]:
df.columns

Index(['Date', 'Location', 'Alkalinity', 'AmmoniumNitrogen', 'BOD', 'COD',
       'CalciumHardness', 'Chloride', 'Conductivity', 'DOxygen',
       'MagnesiumHardness', 'NitrateNitrogen', 'NitriteNitrogen',
       'Phosphate(PO4)', 'Potassium', 'SSolids', 'Sodium', 'Sulphate(SO4)',
       'TDS', 'Temperature', 'Turbidity', 'pH'],
      dtype='object')

In [5]:
for col in df.columns:
    if col not in exclude_columns:
        # Try converting column to numeric, ignore non-convertible values
        df[col] = pd.to_numeric(df[col], errors='coerce')
        mean = df[col].mean()
        std = df[col].std()
        # Only fill if mean is not NaN
        if not np.isnan(mean):
            nan_indices = df[col][df[col].isna()].index
            random_adjustment = np.random.uniform(-std, std, size=len(nan_indices))
            df.loc[nan_indices, col] = mean + random_adjustment

In [6]:
# Check for missing values in each column #Only for numerical values
missing_counts = df.isna().sum()

print("Missing values per column after filling:")
print(missing_counts)

# Optional: check if any missing values remain overall
if missing_counts.sum() == 0:
    print("No missing values remain in the dataset.")
else:
    print("Warning: Some missing values still remain.")

Missing values per column after filling:
Date                   0
Location             582
Alkalinity             0
AmmoniumNitrogen       0
BOD                    0
COD                    0
CalciumHardness        0
Chloride               0
Conductivity           0
DOxygen                0
MagnesiumHardness      0
NitrateNitrogen        0
NitriteNitrogen        0
Phosphate(PO4)         0
Potassium              0
SSolids                0
Sodium                 0
Sulphate(SO4)          0
TDS                    0
Temperature            0
Turbidity              0
pH                     0
dtype: int64
Warning: Some missing values still remain.